<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>TP Crud</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <a href="/create" class="btn btn-outline-primary mt-4"><i class='bx bx-user-plus'></i></a>
        <table class="table table-border table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">MAIL</th>
                    <th scope="col">CURSOS</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((alumno)=>{ %>
                <tr>
                    <td><%= id %></td>
                    <td><%= nombre %></td>
                    <td><%= apellido %></td>
                    <td><%= mail %></td>
                    <td><%= cursos %></td>
                    <td>
                        <a href="/edit/<%= id %>" class="btn btn-outline-info">editar</a>
                        <a href="/delete<%= id %>" class="btn btn-outline-info">borrar</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div> 
    
</body>
</html>